<h1>My lists</h1>

<%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>

<ul>
<% @lists.each do |list|  %>
<%= link_to list_path(list) %>
<li>
<%= list.name %>
<% end %>
</li>
</ul>
